*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1{
    color: rgba(255, 40, 180, 0.912);
    text-align: center;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}


main{
    margin-top: 35px;
    margin-right: 15%;
    margin-left: 15%;
}

section{
    display:inline-block;
    margin:1rem;
}

img{
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    float: left;
    margin-right: 10px;
}

p.white{
    
    font-size: 0.75rem;
    line-height: 20px;
}
h2{
    vertical-align: top;
    font-size: 1rem;
}

a{
    display: inline;
    vertical-align: top;
}


p.blue{
    font-size: 0.75rem;
    color:lightseagreen;
    padding:5px;
}

.background{
    background-color: black;
    color:white;
    width:30%;
}